*{
    box-sizing: border-box;
    background-color: #ecf0f1;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #3498db;
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    
}
.form{
    display: flex;
    justify-content: center;
    height: 100vh;
}
.form-cards{
    display: flex;
    background-color:white;
    height:60vh;
    width: 80%;
    align-items:center;
    border-radius: 20px;
    justify-content:space-around;
    flex-flow: column wrap;
    font-size: 30px;
    font-weight: 500;
    padding: 20px;
    margin: 0px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 20px;
}
div {
    height: 50px;
    width: auto;
    padding: 10px 0px 0px 20px;
    background-color: initial;
}
div>input{
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bdc3c7;
    font-size: 16px;
    color: #2c3e50;
}
label{
    color: #2c3e50;
    background-color: initial;
}
button{
    display: flex;
    background-color: #3498db;
    font-family: 'Montserrat', sans-serif;
    color: white;
    height: 40px;
    width: auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    
}

button:hover{
    background-color: #e74c3c;
    color: #05161A;

}
